In [1]:
import pandas as pd

### Link para download do dados:
https://sidra.ibge.gov.br/tabela/839

In [2]:
def processa_plantio(filepath, estado_filtro):
    """
    Lê, limpa e transforma os dados de plantio de culturas agrícolas.

    Parâmetros:
    - filepath: caminho para o arquivo Excel.
    - estado_filtro: sigla do estado para filtrar (ex: 'PA').

    Retorna:
    - DataFrame com colunas: Município, Ano, Área plantada (ha)
    """
    # Lê o arquivo Excel, pulando as primeiras 4 linhas de cabeçalho
    df = pd.read_excel(filepath, header=4)
    # Renomeia a coluna de municípios para facilitar o tratamento
    df = df.rename(columns={'Unnamed: 0': 'Município'})
    # Extrai Município e Estado em colunas separadas usando regex
    df[['Município', 'Estado']] = df['Município'].str.extract(r"^(.*?)\s+\((\w+)\)$")
    # Filtra apenas os municípios do estado desejado
    df_estado = df[df['Estado'] == estado_filtro].drop(columns=['Estado'])
    # Transforma as colunas de anos em linhas (formato longo)
    df_estado = df_estado.melt(id_vars=['Município'], var_name='Ano', value_name='Área plantada (ha)')
    # Converte valores não numéricos para 0 e garante tipo inteiro
    df_estado['Área plantada (ha)'] = pd.to_numeric(df_estado['Área plantada (ha)'], errors='coerce').fillna(0)
    df_estado.sort_values(by=['Município', 'Ano'], inplace=True)
    df_estado['Área plantada (ha)'] = df_estado['Área plantada (ha)'].astype(int)
    return df_estado

In [3]:
# Processa dados de soja para o Pará
soja_pa = processa_plantio('../data/PLANTACOES/soja_2008_2023.xlsx', 'PA')
soja_pa.to_csv('../data/PLANTACOES/soja_pa.csv', index=False)

In [4]:
soja_pa

       Município   Ano  Área plantada (ha)
0     Abaetetuba  2008                   0
143   Abaetetuba  2009                   0
286   Abaetetuba  2010                   0
429   Abaetetuba  2011                   0
572   Abaetetuba  2012                   0
...          ...   ...                 ...
1654      Óbidos  2019                   0
1797      Óbidos  2020                   0
1940      Óbidos  2021                   0
2083      Óbidos  2022                   0
2226      Óbidos  2023                   0

[2288 rows x 3 columns]

In [5]:
# Processa dados de milho para o Pará
milho_pa = processa_plantio('../data/PLANTACOES/milho_2008_2023.xlsx', 'PA')
milho_pa.to_csv('../data/PLANTACOES/milho_pa.csv', index=False)

In [6]:
milho_pa

       Município   Ano  Área plantada (ha)
0     Abaetetuba  2008                  50
138   Abaetetuba  2009                  50
276   Abaetetuba  2010                  80
414   Abaetetuba  2011                 100
552   Abaetetuba  2012                 150
...          ...   ...                 ...
1595      Óbidos  2019                 700
1733      Óbidos  2020                 100
1871      Óbidos  2021                 100
2009      Óbidos  2022                 100
2147      Óbidos  2023                  50

[2208 rows x 3 columns]