In [1]:
import pandas as pd

### Link para download do dados:
https://sidra.ibge.gov.br/tabela/3939

In [2]:
def processa_rebanho(filepath, estado_filtro):
    """
    Lê, limpa e transforma os dados de rebanho de bovinos.

    Parâmetros:
    - filepath: caminho para o arquivo Excel.
    - estado_filtro: sigla do estado para filtrar (ex: 'PA').

    Retorna:
    - DataFrame com colunas: Município, Ano, Total Rebanho (Bovino)
    """
    # Lê o arquivo Excel, pulando as primeiras 4 linhas de cabeçalho
    df = pd.read_excel(filepath, header=4)
    # Renomeia a coluna de municípios para facilitar o tratamento
    df = df.rename(columns={'Unnamed: 0': 'Município'})
    # Extrai Município e Estado em colunas separadas usando regex
    df[['Município', 'Estado']] = df['Município'].str.extract(r"^(.*?)\s+\((\w+)\)$")
    # Filtra apenas os municípios do estado desejado
    df_estado = df[df['Estado'] == estado_filtro].drop(columns=['Estado'])
    # Transforma as colunas de anos em linhas (formato longo)
    df_estado = df_estado.melt(id_vars=['Município'], var_name='Ano', value_name='Total Rebanho (Bovino)')
    # Converte valores não numéricos para 0 e garante tipo inteiro
    df_estado['Total Rebanho (Bovino)'] = pd.to_numeric(df_estado['Total Rebanho (Bovino)'], errors='coerce').fillna(0)
    df_estado.sort_values(by=['Município', 'Ano'], inplace=True)
    df_estado['Total Rebanho (Bovino)'] = df_estado['Total Rebanho (Bovino)'].astype(int)
    return df_estado

In [3]:
# Processa dados de soja para o Pará
bovino_pa = processa_rebanho('../data/REBANHO/bovino_2008_2023.xlsx', 'PA')
bovino_pa.to_csv('../data/REBANHO/bovino_pa.csv', index=False)

In [4]:
bovino_pa

       Município   Ano  Total Rebanho (Bovino)
0     Abaetetuba  2008                    4194
144   Abaetetuba  2009                    3438
288   Abaetetuba  2010                    2263
432   Abaetetuba  2011                    1527
576   Abaetetuba  2012                    1859
...          ...   ...                     ...
1665      Óbidos  2019                  143068
1809      Óbidos  2020                  149900
1953      Óbidos  2021                  160052
2097      Óbidos  2022                  172430
2241      Óbidos  2023                  180010

[2304 rows x 3 columns]